
/* Julián Sánchez. Ua 2018 TFG Visor RDF Hoja de estilos */

/* PRINCIPAL */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* QUITAR Borde menu hamb */
* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

html {
  min-height: 100%;
  position: relative;
}
body{
		font-family: 'Montserrat', sans-serif;
		padding-bottom: 70px;
		margin: 0;
    padding: 0;
}

header{
  margin-top: 1%;
	border: 1px solid #688797;
  background-color: #688797;
}

nav form{
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}


footer {
  bottom: 0;
  background-color: #688797;
	font-size: .9em;
	font-style: italic;
	min-height: 50px; padding: 1%; margin-top: 1%;
}

li{
	/* font-weight: bold; */
	font-size: 1.2em;
}

/* section{border: 2px solid #339966; min-height: 100px; padding: 1%; margin-top: 1%;}
article{border: 2px solid #339966; min-height: 100px; padding: 1%; margin-top: 1%; position: relative;} */

div{
	margin: .7%;
}
input { width:40%;}


/* HOME PAGE */

#infoBasic p{
  margin: .2cm 1cm 0 .5cm;
  font-size: .9em;
  /* margin-left: 50%; */
}
#foto{
  max-width: 100px;
  margin-left: 0;

}
/* DISEÑO BUSCADOR  */

.listBooks{
  border: 3px solid blue;
}
.portada{
	width: 75px;
	height: 100px;
}
.tarjeta{
  border: 1px solid #688797;
}
/* DISEÑO PPAL */

/* TEXTOS */
.textoppal { text-align: justify;  font-size: .9em;}

.slider{
  /* border: 1px solid green; */
}

/* LIBROS */
