/* Julián Sánchez. Ua 2018 TFG Visor RDF Hoja de estilos */

/* PRINCIPAL */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* QUITAR Borde menu hamb */
* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

html {
  min-height: 100%;
  position: relative;
}
body{
		font-family: 'Montserrat', sans-serif;
		padding-bottom: 70px;
		margin: 0;
    padding: 0;
}
header{
  margin-top: 1%;
	border: 1px solid #688797;
  background-color: #688797;
}
nav form{
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}
footer {
  bottom: 0;
  background-color: #688797;
	font-size: .9em;
	font-style: italic;
	min-height: 50px; padding: 1%; margin-top: 1%;
}
li{
	/* font-weight: bold; */
	font-size: 1.2em;
}
/* section{border: 2px solid #339966; min-height: 100px; padding: 1%; margin-top: 1%;}
article{border: 2px solid #339966; min-height: 100px; padding: 1%; margin-top: 1%; position: relative;} */
div{
	margin: .7%;
}
input { width:40%;}

/* HOME PAGE */
#infoBasic p{
  margin: .2cm 1cm 0 .5cm;
  font-size: .9em;
  /* margin-left: 50%; */
}
#foto{
  max-width: 100px;
  margin-left: 0;
}
/* DISEÑO BUSCADOR  */
.listBooks{
  border: 3px solid blue;
}
.portada{
	width: 75px;
	height: 100px;
  padding: 1%;
}
.tarjeta{
  border: 1px solid #688797;
}

/* TEXTOS */
.textoppal { text-align: justify;  font-size: .9em;}

/* LIBROS */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-height: 175px;
  max-height: 175px;
  overflow: hidden;
  max-width: 150px;
  min-width: 150px;
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.card img{
  height: 60px;
  width: 40px;
  padding: 1%;
  display: center;
}

.libros div{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.libros p{
  font-size: .7em;
  padding: 1%;
  margin: 0;
}
/* IFRAME */
iframe{
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  /* max-height: 450px; */
}
/* AUTOR */
.desAutor {
  font-size: .8em;
}
.autores div{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.autores p{
  font-size: .7em;
  padding: 1%;
  margin: 0;
}
/* PAGINACION WIKIPEDIA*/
